

<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light shadow-lg p-3">
    <div class="container-fluid">
      <a class="navbar-brand fw-bold" href="#">
        <img src="../../assets/logo-openfuture/OpenFuture_Name_Transparent_Logo.png" width="170" alt="logo"
          class="logo logo-display p-3">
      </a>

      <div class="d-flex align-items-center justify-content-center gap-4">
        <a class="nav-link fw-bold " aria-current="page" href="#">Time Start : {{ countdownDisplay }}</a>
        <button class="btn btn-success text-white px-2 py-1" type="submit">
          Contact Us
        </button>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <!-- Quiz Form -->
    <div class="d-flex justify-content-center align-items-center">
      <div class="quiz-container">

        <form id="quizForm">
          <div *ngIf="loading">
            <p>Loading questions...</p>
          </div>

          <!-- Questions -->
          <div *ngIf="!loading">
            <div *ngFor="let question of questions; let i = index" class="mb-4 question">
              <p>{{ i + 1 }}. {{ question.questionText }}</p>
              <div *ngFor="let option of question.options" class="form-check">
                <input
                  type="radio"
                  class="form-check-input"
                  [name]="'q' + question.id"
                  [value]="option"
                  id="{{ 'q' + question.id + option }}">
                <label
                  class="form-check-label"
                  [for]="'q' + question.id + option">
                  {{ option }}
                </label>
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div>
            <button type="button" class="btn btn-primary fw-bold p-2 px-4" (click)="onSubmit()">
              Submit
            </button>
          </div>
        </form>

        <!-- Result Section -->
        <div *ngIf="showResult" class="mt-4">
          <h3>Quiz Result</h3>
          <p><strong>Score:</strong> {{ score }} / {{ questions.length }}</p>
          <p><strong>Attempted Questions:</strong> {{ attemptedQuestions }} / {{ questions.length }}</p>
        </div>

        <!-- <div  class="mt-4">
          <h3>Quiz Result</h3>
          <p><strong>Score:</strong> {{ questions.length }}</p>
          <p><strong>Attempted Questions:</strong> {{ questions.length }}</p>
        </div> -->


      </div>
    </div>
  </div>

</div>







